.formulario {
  max-width: 400px;
  background-color: #f2f2f2;  
  margin: 0 auto;
  padding: 20px;
  display: flex;  
  flex-direction: column;  
  align-items: center;  
}
.campo {
  background-color: #f2f2f2;  
  display: flex;  
  align-items: center;  
  margin-bottom: 10px;
  width: 100%; 
}

.campo label {
  width: 100px;  
  margin-right: 10px;  
}

.campo input[type="text"],
.campo textarea,
.campo input[type="number"] {
  flex: 1;  
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff; 
}

.button {
  margin-top: 10px; 
  padding: 10px 20px;
  background-color: #cabebe;  
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.listado-productos{
  display: flex;  
  flex-direction: column;  
  align-items: center;  
}
.detalles-producto{
  display: flex;  
  flex-direction: column;  
  align-items: center;  
}